html, body {
	background: #ddd;
	color: #000;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-size: 16px;
	text-align: center;
}
p {
    margin: 0;
}
.mainContainer {
    background-color: #fff;
    margin: 20px auto;
    padding: 0px;
    width: 1050px;
    height: 620px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.32), 0 3px 12px 0 rgba(0, 0, 0, 0.24);
    position: relative;
}

.title {
    font-size: 2em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    color: #46b0b4;
    text-align: center;
    padding: 15px 0px 0px 0px;
}
.subtitle {
    font-size: 1.2em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    color: #46b0b4;
    text-align: center;
    padding: 0px 0px 15px 0px;
}

.errorMessage {
	display: none;
	margin: 20px auto;
}

.chart {
    margin: 0px auto;
    padding: 0px;
    background-color: #fff;
}
.chart .mouseover {
    fill: #8ae4cb;
}
.chart rect,
.chart .mouseoff {
    fill: #46b0b4;
}
.chart text {
    fill: black;
    font: 10px sans-serif;
    text-anchor: end;
}
.chart .axis text {
    font: 15px sans-serif;
}
.chart .axis path,
.chart .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.tooltip {
    position: absolute;
    text-align: left;
    width: auto;
    height: auto;
    padding: 3px 5px 3px 5px;
    font: 1em sans-serif;
    border: 0px;
    border-radius: 5px;
    pointer-events: none;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    background-color: #8ae4cb;
}
.tooltip .amount {
    font-size: 1em;
    font-weight: bold;
}
.tooltip .year {
    font-size: 0.8em;
    font-weight: normal;
}